.menu-inferior{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #00587C;
}
.menu-inferior ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-inferior li {
    display: inline-block;
}

.menu-inferior a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    font-family: Arial, sans-serif;
}

.menu-inferior a:hover {
    background-color: #E57200;
    border-radius: 5px;
}

.menu-bar{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #00587C;
}

.menu-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-bar li{
    
    display: inline-block;
}

.menu-bar a:hover{
    background-color: #E57200;
    border-radius: 5px;
}

.menu-bar a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    font-family: Arial, sans-serif;
}

h2{
    text-align: center;
    font-family: sans-serif;
}

.submit-button{
    text-align: center;
}

p{
    text-align: center;
    font-family: sans-serif;
}

#mail,#tlf{
    font-family: monospace;
}

#formulario, #signin, #signup, #login, #no-account{
    text-align: center;
}

.links-signup{
    color:blue;
}

h1{
    text-align: center;
    font-family: sans-serif;
}

label[for="message"],
textarea#message {
  vertical-align: top;
}