<!--Página sobre nosotros-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre nosotros</title>
        <link rel="stylesheet" href="/css/general_styles.css">
        <link rel="icon" href="/Images/favicon.ico" type="image/x-icon"> <!-- icono pequeño en pestaña-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
        <style>
            .map-wrap{
                text-align: center;
            }

            #map { 
                width: 50%;
                height: 500px;
                margin: 0 auto; 
            }
        </style>
    </head>
    <!--añadir enlaces redes sociales?-->
    <body>
        <header class="menu-bar menu-superior">
            <img class="logo-item" src="/Images/logo64.png" alt="Logo ESIMarket">
            <h1 style="color:#E57200; font-family: monospace; font-weight: bold;">ESI</h1><h1 style="color:#ffffff; font-family: monospace;">Market</h1>
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li><a th:href="@{/home/about}">Sobre nosotros</a></li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/login}">Iniciar sesión</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/signup}">Registrarse</a>
                </li>
            </ul>
        </header>
        <main>
            <h1>Sobre nosotros</h1>
            <h2>Nuestro equipo</h2>
            <p>Somos una pequeña empresa creada con el objetivo de hacer más fácil para la gente encontrar servicios que necesitan u ofrecerlos ellos mismos. MadMonkeyMarket nace en la Escuela Superior de Ingeniería de la Universidad de Cádiz, gracias a 5 estudiantes que tuvieron una visión, siendo estos Luka Arana Aguilocho, Luis Castro Gabriel, Miguel Catalá Garrido, Julio Contioso Laínez y Jaime Díaz Segado.</p>
            <br><h2>Nuestra misión</h2>
            <p>En ESIMarket creemos que es posible el intercambio de servicios entre empresas y particulares sin que esto sea tedioso e inseguro.</p>
            <br><h2>¡Contacta con nosotros!</h2>
            <p>Correo de atención al cliente:</p>
            <p id="mail">clientes@esimarket.es</p>
            <p>Teléfono de atención al cliente:</p>
            <p id="tlf">+34 000 00 00 00</p><br>
            <p>O si lo prefieres, escríbenos directamente:</p>
        
            <div class="square">
                <h2>Contáctanos</h2>
                <form id="formulario" method="post">
                    <div class="form-grupo">
                        <label for="name">Nombre Completo:</label>
                        <input type="text" id="name" name="name" placeholder="Escribe tu nombre y apellido(s)" required>
                    </div><br>
                    <div class="form-grupo">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Escribe tu correo electrónico" required>
                    </div><br>
                    <div class="form-grupo">
                        <label for="subject">Asunto:</label>
                        <input type="text" id="subject" name="subject" placeholder="Escribe el motivo de tu consulta" required>
                    </div><br>
                    <div class="form-grupo">
                        <label for="message">Mensaje:</label>
                        <textarea id="message" name="message" rows="6" placeholder="Escribe detalladamente tu consulta" required></textarea>
                    </div><br>
                    <button type="submit">Enviar</button>
                </form><br>
            </div>
        </main>
        
        
        <h2>¿Dónde estamos?</h2>
        <div class="map-wrap">
            <div id="map"></div><br>
        </div>
        
        
        <footer class="menu-bar menu-inferior">
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/login}">Iniciar sesión</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/signup}">Registrarse</a>
                </li>
            </ul>
        </footer>

        
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script>
            const LAT=36.537706;
            const LNG=-6.201475;

            const map=L.map('map').setView([LAT, LNG], 15);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            const marker=L.marker([LAT, LNG]).addTo(map);
            marker.bindPopup("<b>Nuestra sede</b><br><p>Av. Universidad de Cádiz, 10, 11519 Puerto Real, Cádiz</p>").openPopup();
        </script>
        <script src="/js/common.js" type="module"></script>
        <script src="/js/contact.js" type="module"></script>
    </body>
</html>