<!--Esta será la home page-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" href="/css/general_styles.css">
        <link rel="icon" href="/Images/favicon.ico" type="image/x-icon"> <!-- icono pequeño en pestaña-->
    </head>
    <body>
        <div id="sideMenu" class="sidebar user-view">
            <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>
            <a href="/purchase/user">Historial de compras</a>
            <a href="/orders/filter">Lista de pedidos</a>
            <a href="/service/user">Lista de servicios</a>
            <a href="/donations/donationByUser">Donaciones</a>
            <a href="/chat/">Chats</a>
        </div>
        <header class="menu-bar menu-superior">
            <div class="header-left">
                <div class="hamburger-icon user-view" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <img class="logo-item" src="/Images/logo64.png" alt="Logo ESIMarket">
                <h1 style="color:#E57200; font-family: monospace; font-weight: bold; margin:0;">ESI</h1>
                <h1 style="color:#ffffff; font-family: monospace; margin:0;">Market</h1>
            </div>

            <nav class="header-center">
                <ul>
                    <li><a href="/home/">Inicio</a></li> <li><a href="/home/about">Sobre nosotros</a></li>
                </ul>
            </nav>

            <div class="header-right">
                
                <div class="guest-view">
                    <a href="/auth/login">Iniciar sesión</a>
                    <a href="/auth/signup" style="background-color: rgba(255,255,255,0.1); border-radius:5px;">Registrarse</a>
                </div>

                <div class="user-view" style="display: none;">
                    
                    <button class="btn-publicar" onclick="window.location.href='/products/create'">Publicar</button>
                    
                    <div class="profile-container">
                        <div class="coins-info">
                            <span th:text="${profile?.saldoMoneda}"></span> <span>⚙️</span>
                        </div>
                        <img class="profile-avatar" src="/Images/huevoverde.jpeg" alt="Perfil">
                        
                        <div class="dropdown-content">
                            <a href="/profile/">Mi Perfil</a>
                            <a href="#" id="btn-logout">Cerrar sesión</a>
                        </div>
                    </div>
                </div>

            </div>
        </header>
        <main>
            <header>
                <div class="search-form">
                    <br>
                    <label for="search-input">Buscar servicios/productos:</label><br><br>
                    <div class="input-container">
                        <input type="text" id="search-input" placeholder="Busca lo que quieras">
                        <span class="clear-button" id="clearBtn">&times;</span><br><br>
                    </div>
                </div>
            </header>
            <div class="product-container">
                <form id="filterForm" action="/products/filter" method="POST">
                    <div class="filter-sidebar">
                        <h3>Filtros</h3>
                        
                        <div class="filter-group">
                            <label for="category-filter">Categoría</label>
                            <select id="category-filter">
                                <option value="all" selected>Todo</option>
                                <option value="services">Servicios</option>
                                <option value="objects">Objetos</option>
                            </select>
                        </div>
                        
                        <div class="filter-group">
                            <label>Estado</label>
                            
                            <div class="filter-option">
                                <input type="checkbox" class="state-filter" value="Precintado" id="state-p">
                                <label for="state-mb">Precintado</label>
                            </div>

                            <div class="filter-option">
                                <input type="checkbox" class="state-filter" value="Nuevo" id="state-n">
                                <label for="state-b">Nuevo</label>
                            </div>

                            <div class="filter-option">
                                <input type="checkbox" class="state-filter" value="Casi_Nuevo" id="state-cn">
                                <label for="state-d">Casi Nuevo</label>
                            </div>

                            <div class="filter-option">
                                <input type="checkbox" class="state-filter" value="Correcto" id="state-c">
                                <label for="state-d">Correcto</label>
                            </div>

                            <div class="filter-option">
                                <input type="checkbox" class="state-filter" value="Desgastado" id="state-deg">
                                <label for="state-deg">Desgastado</label>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label for="sort-price">Ordenar por precio</label>
                            <select id="sort-price" class="filter-select">
                                <option value="asc">Menor a Mayor (Asc)</option>
                                <option value="desc">Mayor a Menor (Desc)</option>
                            </select>
                        </div>
                        
                        <div class="filter-group">
                            <label>Rango de Precio (⚙️)</label>
                            <div style="display: flex; gap: 5px; align-items: center;">
                                <input type="number" id="min-price" placeholder="Min" min="0" style="width: 100%; padding: 5px;">
                                <span>-</span>
                                <input type="number" id="max-price" placeholder="Max" min="0" style="width: 100%; padding: 5px;">
                            </div>
                        </div>
                        <div class="submit-button">
                            <button type="submit">Aplicar</button>
                        </div>
                    </div>
                </form>
                

                <div class="product-grid-container" id="product-grid">
                   <br><br>
                </div>

            </div>
        </main>
        
        <footer class="menu-bar menu-inferior">
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li><a th:href="@{/home/about}">Sobre nosotros</a></li>

                <li class="guest-view">
                    <a th:href="@{/auth/login}">Iniciar sesión</a>
                </li>
                <li class="guest-view">
                    <a th:href="@{/auth/signup}">Registrarse</a>
                </li>

                <li class="sn">
                    <a href="https://www.instagram.com/esimarket_uca/"><img width="64px" height="64px" src="/Images/instagram.png" alt="Instagram"></a>
                    <a href="https://x.com/esimarket_uca"><img width="64px" height="64px" src="/Images/twitter.png" alt="Twitter"></a>
                </li>
            </ul>
        </footer>
        <script src="/js/common.js" type="module"></script>
        <script src="/js/filter.js" type="module"></script>
    </body>
</html>