<!--Formulario de inicio de sesión-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar sesión</title>
        <link rel="stylesheet" href="/css/general_styles.css">
        <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header class="menu-bar menu-superior">
            <img class="logo-item" src="/Images/logo64.png" alt="Logo ESIMarket">
            <h1 style="color:#E57200; font-family: mon;">ESI</h1><h1 style="color:#ffffff; font-family: monospace;">Market</h1>
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li><a th:href="@{/home/about}">Sobre nosotros</a></li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/login}">Iniciar sesión</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/signup}">Registrarse</a>
                </li>

                <!--<li sec:authorize="isAuthenticated()">
                    <a th:href="@{/perfil}">Mi Perfil</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="logout-button">Cerrar Sesión</button>
                    </form>
                </li>-->
            </ul>
        </header>
        <main>
            <div class="square">
                <h2>Iniciar sesión</h2>
                <form id="login" method="post">
                    <div id="login-message"></div>
                    <div id="error-login"></div>
                    <div class="usuario">
                        <label for="usuario">Usuario*</label><br>
                        <input type="text" name="username" placeholder="Escribe tu usuario" required>
                    </div>
                    <br>
                    <div class="contraseña">
                        <label for="contraseña">Contraseña*</label><br>
                        <input type="password" name="password" placeholder="Escribe tu contraseña" required><br><br>
                    </div>
                    <div class="submit-button">
                        <button type="submit">Acceder</button>
                    </div>
                    <p>¿No tienes una cuenta? <a class="links" href="signup">Regístrate</a></p>
                </form>
            </div>
        </main>
        
        
        <footer class="menu-bar menu-inferior">
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li><a th:href="@{/home/about}">Sobre nosotros</a></li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/signup}">Registrarse</a>
                </li>
            </ul>
        </footer>
        <script src="/js/common.js" type="module"></script>
        <script src="/js/login.js" type="module"></script>
    </body>
</html>