<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in</title>
        <link rel="stylesheet" href="/css/general_styles.css">
        <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header class="menu-bar menu-superior">
            <img class="logo-item" src="/Images/logo64.png" alt="Logo ESIMarket">
            <h1 style="color:#E57200; font-family: monospace; font-weight: bold;">ESI</h1><h1 style="color:#ffffff; font-family: monospace;">Market</h1>
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li><a th:href="@{/home/about}">Sobre nosotros</a></li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/login}">Iniciar sesión</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/signup}">Registrarse</a>
                </li>

                <!--<li sec:authorize="isAuthenticated()">
                    <a th:href="@{/perfil}">Mi Perfil</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="logout-button">Cerrar Sesión</button>
                    </form>
                </li>-->
            </ul>
        </header>
        <main>
            <!--mostrar nombre,apellidos,usuario,email,carrera,saldo,imagen perfil-->
            <div class="imagen-left">
                <img src="/Images/huevoverde.jpeg"/>
            </div>
            <div class="square">
                <h1>Mis Datos</h1><br><br>
                <p id="show-name">Nombre: </p><br>
                <p id="show-surname">Apellidos: </p><br>
                <p id="show-username">Usuario: </p><br>
                <p id="show-email">Correo Electrónico: </p>
                <p id="show-degree">Carrera: </p>

            </div>
            <button id="edit-profile"></button>
        </main>
        
        
        <footer class="menu-bar menu-inferior">
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li><a th:href="@{/home/about}">Sobre nosotros</a></li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/login}">Iniciar sesión</a>
                </li>
                <li class="sn">
                    <a href="https://www.instagram.com/esimarket_uca/"><img width="64px" height="64px" src="/Images/instagram.png"></a>
                    <a href="https://x.com/esimarket_uca"><img width="64px" height="64px" src="/Images/twitter.png"></a>
                </li>
            </ul>
        </footer>
        <script src="/js/common.js" type="module"></script>
        <script src="/js/profile.js" type="module"></script>
    </body>
</html>