<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Editar Perfil</title>
    <th:block th:replace="~{common/general-fragments :: common-head}"></th:block>
</head>
<body>
    <div th:replace="~{common/general-fragments :: sidebar}"></div>
    <div th:replace="~{common/general-fragments :: menu-superior}"></div>
    <main>
        <h1>Editar Perfil</h1>
        <div id="profile-edit" action="/profile/edit" class="form-container">
            <form id="edit-form" method="PUT">
                <div class="nombre">
                    <label for="nombre">Nombre</label><br>
                    <input id="nombre" type="text" name="nombre" th:value="${profile.nombre}">
                </div>
                <br>
                <div class="apellidos">
                    <label for="apellidos">Apellidos</label><br>
                    <input id="apellidos" type="text" name="apellidos" th:value="${profile.apellidos}">
                </div>
                <br>
                <div class="correo">
                    <label for="correo">Correo electrónico</label><br>
                    <input autofocus id="correo" type="email" name="email" th:value="${profile.correo}">
                </div>
                <br>
                <div class="carrera">
                    <label for="carrera">Carrera</label><br>
                    <select name="carrera" id="carrera">
                        <option value="" selected disabled th:text="${'Actual: '+profile.carrera}">--- Selecciona tu carrera ---</option>
                        <option value="GIA">Ingeniería Aeroespacial (GIA)</option>
                        <option value="GIDIDP">Ingeniería en Diseño Industrial y Desarrollo del Producto (GIDIDP)</option>
                        <option value="GIE">Ingeniería Eléctrica (GIE)</option>
                        <option value="GIEI">Ingeniería Electrónica Industrial (GIEI)</option>
                        <option value="GII">Ingeniería Informática (GII)</option>
                        <option value="GIM">Ingeniería Mecánica (GIM)</option>
                        <option value="GITI">Ingeniería en Tecnologías Industriales (GITI)</option>
                        <option value="GIEyGIEI">Doble Grado en Ingeniería Eléctrica e Ingeniería Electrónica Industrial (GIE+GIEI)</option>                            <option value="GIMyGIE">Doble Grado en Ingeniería Mecánica e Ingeniería Eléctrica (GIM+GIE)</option>
                        <option value="GIMyGIDIDP">Doble Grado en Ingeniería Mecánica e Ingeniería en Diseño Industrial y Desarrollo del Producto (GIM+GIDIDP)</option>
                        <option value="GMyGII">Doble Grado en Matemáticas e Ingeniería Informática (GM+GII)</option>
                    </select>
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn-common btn-orange">Aplicar</button>

                    <button type="reset" class="btn-common btn-gray">Resetear</button>

                    <button type="button" class="btn-common btn-blue" onclick="window.location.href='/profile/'">Cancelar</button>
                </div>
            </form>
        </div>
    </main>
    <div th:replace="~{common/general-fragments :: menu-inferior}"></div>
    <script src="/js/common.js" ></script>
    <script src="/js/profile.js" ></script>
</body>
</html>