<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Historial de Compras</title>
    <th:block th:replace="~{common/general-fragments :: common-head}"></th:block>
</head>
<body>
    <div th:replace="~{common/general-fragments :: sidebar}"></div>
    <div th:replace="~{common/general-fragments :: menu-superior}"></div>
    <main>
        <div id="lista-compras" class="lista-container">
        </div>
    </main>
    <div th:replace="~{common/general-fragments :: menu-inferior}"></div>
    <script src="/js/common.js" ></script>
    <script src="/js/purchase.js" ></script>
</body>
</html>