<!--Formulario de registro-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in</title>
        <link rel="stylesheet" href="/css/general_styles.css">
        <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header class="menu-bar menu-superior">
            <img class="logo-item" src="/Images/logo64.png" alt="Logo ESIMarket">
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li><a th:href="@{/home/about}">Sobre nosotros</a></li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/login}">Iniciar sesión</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/signup}">Registrarse</a>
                </li>

                <!--<li sec:authorize="isAuthenticated()">
                    <a th:href="@{/perfil}">Mi Perfil</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="logout-button">Cerrar Sesión</button>
                    </form>
                </li>-->
            </ul>
        </header>
        <main>
            <div class="square">
                <h2>Registrarse</h2>
                <form id="signup" method="post">
                    <div id="signup-message"></div>
                    <div class="correo">
                        <label for="correo">Correo electrónico*</label><br>
                        <input id="correo" type="email" name="email" placeholder="Escribe tu correo electrónico" required>
                    </div>
                    <br>
                    <div class="nombre">
                        <label for="nombre">Nombre*</label><br>
                        <input id="nombre" type="text" name="name" placeholder="Escribe tu nombre" required>
                    </div>
                    <br>
                    <div class="apellidos">
                        <label for="apellidos">Apellidos*</label><br>
                        <input id="apellidos" type="text" name="apellidos" placeholder="Escribe tus apellidos" required>
                    </div>
                    <br>
                    <div class="usuario">
                        <label for="usuario">Usuario*</label><br>
                        <input id="usuario" type="text" name="username" placeholder="Escribe tu usuario" required>
                    </div>
                    <br>
                    <div class="contraseña">
                        <label for="contraseña">Contraseña*</label><br>
                        <input id="contraseña" type="password" name="password" placeholder="Escribe tu contraseña" minlength="8" required>
                    </div>
                    <br>
                    <div class="contraseña">
                        <label for="repcontraseña">Confirme Contraseña*</label><br>
                        <input id="repcontraseña" type="password" name="password" placeholder="Repite tu contraseña" minlength="8" required><br><br>
                    </div>
                    <div id="error-contraseña"></div>
                    <br>
                    <div class="carrera">
                        <label for="carrera">Carrera*</label><br>
                        <select name="carrera" id="carrera">
                            <option value="" selected disabled>--- Selecciona tu carrera ---</option>
                            <option value="GIA">Ingeniería Aeroespacial (GIA)</option>
                            <option value="GIDIDP">Ingeniería en Diseño Industrial y Desarrollo del Producto (GIDIDP)</option>
                            <option value="GIE">Ingeniería Eléctrica (GIE)</option>
                            <option value="GIEI">Ingeniería Electrónica Industrial (GIEI)</option>
                            <option value="GII">Ingeniería Informática (GII)</option>
                            <option value="GIM">Ingeniería Mecánica (GIM)</option>
                            <option value="GITI">Ingeniería en Tecnologías Industriales (GITI)</option>
                            <option value="GIEyGIEI">Doble Grado en Ingeniería Eléctrica e Ingeniería Electrónica Industrial (GIE+GIEI)</option>
                            <option value="GIMyGIE">Doble Grado en Ingeniería Mecánica e Ingeniería Eléctrica (GIM+GIE)</option>
                            <option value="GIMyGIDIDP">Doble Grado en Ingeniería Mecánica e Ingeniería en Diseño Industrial y Desarrollo del Producto (GIM+GIDIDP)</option>
                            <option value="GMyGII">Doble Grado en Matemáticas e Ingeniería Informática (GM+GII)</option>
                        </select>
                    </div>
                    <br>
                    <div class="tnc">
                        <input type="checkbox" required>
                        <label for="tnc">He leído y acepto los <a class="links" href="/home/ESIMarket_Terminos_y_Condiciones.pdf">Términos y Condiciones</a> y la <a class="links" href="/home/ESIMarket_Politica_Privacidad.pdf">Política de Privacidad</a></label>
                    </div>
                    <br>
                    <div>
                        <button class="submit-button" type="submit">Acceder</button>
                    </div>
                    <p id="have-account">¿Ya tienes una cuenta? <a class="links" href="login.html">Inicia sesión</a></p>
                </form>
            </div>
        </main>
        
        
        <footer class="menu-bar menu-inferior">
            <ul>
                <li><a th:href="@{/home/}">Inicio</a></li>
                <li><a th:href="@{/home/about}">Sobre nosotros</a></li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/auth/login}">Iniciar sesión</a>
                </li>
            </ul>
        </footer>
        <script src="/js/common.js" type="module"></script>
        <script src="/js/signup.js" type="module"></script>
    </body>
</html>