.menu-inferior{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: azure;
}
.menu-inferior ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-inferior li {
    display: inline-block;
}

.menu-inferior a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-family: Arial, sans-serif;
}

.menu-inferior a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.menu-bar{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: azure;
}

.menu-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-bar li{
    display: inline-block;
}

.menu-bar a:hover{
    background-color: #ddd;
    border-radius: 5px;
}

.menu-bar a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-family: Arial, sans-serif;
}

#login{
    text-align: center;
}

h2{
    text-align: center;
}

#no-account{
    text-align: center;
}

.submit-button{
    text-align: center;
}

p{
    text-align: center;
}

#mail,#tlf{
    font-family: monospace;
}

#formulario{
    text-align: center;
}
